/* ------------------------------ */
/* Group Form                     */
/* ------------------------------ */

/* Resize sheet width */ 
.o_web_client .oe_form_sheetbg.o_web_client_mail_group_sheet {
  min-height: 0px;
  max-height: none;
}
 
.o_web_client .oe_form_sheetbg.o_web_client_mail_group_sheet .oe_form_sheet {
  min-height: 0px;
  max-height: none;
  padding: 0px 18px;
}

.o_web_client .oe_form_sheetbg.o_web_client_mail_group_sheet .oe_avatar {
  padding-top: 3px;
}

/* Resize footer width */
.o_web_client .oe_form div.oe_mail_group_footer {
  max-width: 80%;
}

/* Resize group description */
.o_web_client .oe_form_sheetbg.o_web_client_mail_group_sheet .oe_form_field_text > textarea {
  height: 60px;
}

/* ------------------------------ */
/* Group Kanban                   */
/* ------------------------------ */

.oe_group_vignette {
  padding: 8px 0;
  min-height: 100px;
}

.oe_group_image, .oe_group_details {
  display: inline-block;
  vertical-align: top;
}

.oe_group_image {
  width: 100px;
  height: 100px;
  text-align: center;
  overflow: hidden;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  border-collapse: separate;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.oe_group_photo {
  width: 100px;
  height: 100px;
  clip: rect(0px, 100px, 100px, 0px);
  border:none;
}

.oe_group_details {
  width: 220px;
  font-size: 13px;
  padding: 2px 5px;
  color: #4c4c4c;
  min-height: 120px;
}

.oe_group_details h4 {
  margin: 0;
  font-size: 13px;
}

.oe_group_details ul {
  margin: 3px 0 5px;
  padding: 0;
  list-style: none;
}

.o_web_client .oe_group_details li {
  margin: 2px 0;
}

.o_web_client .oe_group_button {
    bottom: 0;
}

.o_web_client .oe_group_button .oe_group_join {
    color: white;
    background-color: #3465A4;
    background-image: -webkit-linear-gradient(top, #729FCF, #3465A4);
    background-image:    -moz-linear-gradient(top, #729FCF, #3465A4);
    background-image:     -ms-linear-gradient(top, #729FCF, #3465A4);
    background-image:      -o-linear-gradient(top, #729FCF, #3465A4);
    background-image:         linear-gradient(to bottom, #729FCF, #3465A4);
}
