.o_kanban_view.o_kanban_dashboard.o_hr_recruitment_kanban {
	.o_kanban_record {
		max-width: 500px;
		min-width: 450px;

		.o_progressbar_title {
			width: 25%;
		}
		.o_progress {
			width: 60%;
		}
		.o_progressbar_value {
			width: 15%;
		}

	}
}